.title {
  color: #4D7A33;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.heading {
  color: #4D7A33;
  font-size: 3rem;
  background-color: #ffffff;
  padding: 2rem 6rem 2rem 6rem;
  border-radius: 5px;
  margin-top: 10%;
  text-align: center;
  margin-left: 10%;
  font-weight: bold;
}

.background {
    /* The image used */
    background-image: url("../public/donations.jpg");

    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: left;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 0px rgba(173,173,173,1);
  padding: 2rem 2rem 1rem 2rem;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 10%
}

.transactions {
  color: #4D7A33;
  font-size: 3rem;
  background-color: #ffffff;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 5px;
  text-align: center;
  margin-left: 10%;
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  overflow-y: scroll;
  font-weight: bold;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
  padding: 10px 12px;
}

.input {
  border: none;
  height: 20px;
  width: 240px;
  font-size: 1rem;
  text-align: center;
  color:rgb(0, 0, 0);
}

.input:focus {
  outline: none;
}

.buttonContainer {
  margin-top: 24px;
  height: 20px;
  padding-left: 30%;
}

.signUpContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.signUp {
  font-size: 14px;
  margin-top: 15px;
}

.signUpButton {
  background:none;
  border:none;
  color: #4D7A33;
  font-weight: bold;
  font-size: 14px;
}

.listItem {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align: left;
}

.signUpButton:focus {
  outline: none;
}

@media screen and (max-width: 960px) {
  .background {
    flex-direction: column;
  }

  .profileIcon {
    display: none;
  }

  .inputContainer {
    margin-top: -10px;
    padding: 10px 10px;
    font-size: 1rem;
  }

  .formContainer {
    margin-right: 3%;
    margin-left: 3%;
    height: 150%;
  }

  .heading {
    margin-right: 3%;
    margin-left: 3%
  }

  .transactions {
    margin-right: 3%;
    margin-left: 3%
  }

  .heading {
    margin-top: 3%;
  }

  .title {
    margin-top: -20px;
  }

  .buttonContainer {
    margin-top: 5px;
  }
}

.finalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.a {
  color: black;
  font-size: 16px;
}
