.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 55px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -3%
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title {
  font-size: 56px;
  margin-bottom: 20px;
}

.aboutContainer  {
  width: 30%;
  margin-left: 120px;
  margin-bottom: 100px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restaurantsContainer {
  width: 100%;
}

@media (max-width: 880px) {
  .landingContainer {
    flex-direction: column;
  }

  .aboutContainer {
    margin: 0 0 0 0;
    width: 60%;
  }
}
