.title {
  color: #4D7A33;
  margin-top: -2px;
  margin-bottom: 0;
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: ;
  color: rgb(0, 0, 0)
}

.background {
    /* The image used */
    background-image: url("../public/donations.jpg");

    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8E8E8;
  box-shadow: 0px 0px 40px 0px rgba(173,173,173,1);
  padding: 2rem 2rem 1rem 2rem;
  margin-top: 20px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin: 10px 0 10px 0;
  box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
}

.input {
  border: none;
  height: 34px;
  width: 240px;
  font-size: 1.2rem;
  text-align: center;
}

.input:focus {
  outline: none;
}

.buttonContainer {
  margin-top: 24px;
  height: 20px;
  padding-left: 30%;
}

.signUpContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.signUp {
  font-size: 14px;
  margin-top: 15px;
}

.signUpButton {
  background:none;
  border:none; 
  color: #4D7A33;
  font-weight: bold;
  font-size: 14px;
}

.signUpButton:focus {
  outline: none;
}